<div class="main">
    <div class="q">
        <form>
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="form3Example1" class="form-control" />
                  <label class="form-label" for="form3Example1">From</label>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="form3Example2" class="form-control" />
                  <label class="form-label" for="form3Example2">To</label>
                </div>
              </div>
            </div>
          
        
            <div class="form-outline1 mb-4">
                <input type="text" id="zipname" name="zipname" class="form-control" style="width: 600px;"/>
                <label class="form-label" for="zipname">Zip Name</label>
              </div>
          
            
            <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                      <input type="date" id="fromdate" name="fromdate" class="form-control" />
                      <label class="form-label" for="fromdate">From date</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                      <input type="date" id="todate" name="todate" class="form-control" />
                      <label class="form-label" for="todate">To date</label>
                  </div>
                </div>
              </div>
          
              
            <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
          
            
        </form>
    </div>
    
</div>

